.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1440px;
    height: 698px; */
    height: 100vh; /* full viewport height */
  width: 100%;
}
/* navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 150px;
    
}
nav ul li{
    list-style: none;
}
nav h1{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
nav button{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    width: 132px;
    height: 48px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.banner-title p{
    display: flex;
    text-align: center;
    width: 905px;
    height: 152px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-left: 480px;
    margin-right: 480px;
}
.banner-title button{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    width: 174px;
    height: 48px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 850px;
    margin-right: 850px;
    margin-top: 0;
}
